.formInfo{
  margin-bottom: 20px;
  height: 60px;
  width: 100%;
  background-color: Yellow;
  border: 20px;
  border-color: white;
}

.remove1{

}
.changeColor{

}
.newBack{
  background-color: red;
}
